.Skills{
    text-align: center;
    padding-top:90px;
    padding-bottom: 110px;
}
.Skills_header{
    padding-bottom: 69px;
}
.Skills_text{
    padding-bottom:90px;
}
.Skills__app-list{
    padding: 0px 25px 40px 25px;
    display: flex;
    justify-content: space-between;

}
.Skills_signature{
    font-size: 15px;
    color: #828282;
    padding-top:15px;
}
.Skills__rating{
    display:flex;
    justify-content: space-between;
}
