.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
}
body{
    font-family:'Red Hat Display', sans-serif;
    width: 100%;
    margin:0 auto;
}

