.About-me{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 107px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.main__inner_About-me{
    background-color:#F6F6F6 ;
}
.About-me_text > *:not(:last-child){
    padding-bottom: 51px;
}
.About-me_header{
    padding-bottom:30px;
}
.About-me_text{
    font-size: 20px;
    text-align: center;
    
}
.indent{
    height: 23px;
}
