.contacts{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 125px;
}
.contacts__header{
    padding-bottom: 35px;
}
.contacts__text{
    padding-bottom: 35px;
}
.contacts__email-link{
    padding-bottom: 75px;
}
.contacts__socials_swg-list{
    display:flex;
    width:350px;
    justify-content: space-between;
    padding-bottom: 45px;
}
.contacts__socials_signature{
    font-size: 16px;
    color: #828282;
}
